#list{
    width:100%;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    width:100%;
}
.navcontainer{
    padding:15px;
    margin-left: 5px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: none;
}
.container{
    height:100vh;
    width:100vw;
    overflow-x: none;
}
#logo{
    font-size: 2.8rem;
    color: azure;
}
a{
    text-decoration: none;
    color: azure;
}
#tags{
    display: flex;
    gap: 40px;
}
.footer{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.content{
    width:70%;
    margin:auto;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    gap:100px;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:20px;
}